.main-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;

  & input[type="search"] {
    display: none;
    height: var(--search-height);
  }

  .legacy & .menu-button {
    display: none; 
  }
  
  & .drawer {
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
    & ul {
      overflow: auto;
    }
  }

  .legacy & .drawer {
    max-height: 100%;
    overflow: visible;
  }


  & .menu-button {
    position: absolute;
    right: 0;
    border-radius: 50%;
    background: #222;
    color: #fff;
    width: var(--search-height);
    height: var(--search-height);
    padding: 0.7rem 0.2rem;
    outline: 0;
  }

  &.open {
    & input[type="search"] {
      display: block;
      width: 100%;
    }
    & .drawer {
      max-height: calc(var(--search-height) + var(--menu-height));
      & ul {
        max-height: var(--menu-height);
      }
    }
    & .menu-button {
      background-color: var(--main-color);
    }
  }

  & li {
    list-style-type: none;
  }
  
  & a {
    display: block;
    color: var(--feature-color);
    text-decoration: none;
    padding: 1rem;
    background: var(--feature-background-color);
  }
  
  & ul a:hover,
  & ul a:focus {
    background-color: color(var(--feature-background-color) blackness(20%));
  }
}

@media screen and (min-width: 39rem) {
  .main-menu {
    & input[type="search"] {
      display: block;
      float: left;
    }
    & .menu-button {
      display: none;
    }
    & .drawer {
      max-height: inherit;
      overflow: auto;
      & ul {
        overflow: auto;
      }
      & li {
        float: right;
      }
    }
  }
}
