.main-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;

  & input[type="search"] {
    display: none;
    width: var(--search-width);
    height: var(--search-height);
    background: url(../svg/magnifying-glass.svg) 0.2rem 50% no-repeat var(--main-background-color);
    background-size: 1rem;
    border: 1px solid #333;
    padding: 0 0 0 1.3rem;
  }

  .legacy & .menu-button {
    display: none; 
  }
  
  & .drawer {
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
    & ul {
      overflow: auto;
    }
  }

  .legacy & .drawer {
    max-height: 100%;
    overflow: visible;
  }


  & .menu-button {
    user-select:none;
    position: absolute;
    right: 0;
    border-radius: 50%;
    background: #222;
    color: var(--main-background-color);
    width: var(--search-height);
    height: var(--search-height);
    padding: 0.7rem 0.2rem;
    outline: 0;
  }

  &.open {
    & input[type="search"] {
      display: block;
      width: 100%;
    }
    & .drawer {
      max-height: calc(var(--search-height) + var(--menu-height));
      & ul {
        max-height: var(--menu-height);
      }
    }
    & .menu-button {
      background-color: var(--main-color);
    }
  }

  & li {
    list-style-type: none;
  }
  
  & a {
    display: block;
    color: var(--feature-color);
    text-decoration: none;
    padding: 1rem;
    background: var(--feature-background-color);
  }
  
  & ul a:hover,
  & ul a:focus {
    background-color: color(var(--feature-background-color) blackness(20%));
  }

  & .no-results {
    background: var(--main-background-color);
  }
}

@media screen and (min-width: 39rem) {
  .main-menu {
    & input[type="search"] {
      display: block;
      float: right;
    }
    & a {
      padding: 0.75rem;
    }
    & .menu-button {
      display: none;
    }
    & .drawer {
      max-height: inherit;
      overflow: auto;
      & ul {
        overflow: auto;
      }
      & .search-results, & .no-results {
        width: var(--search-width);
        position: absolute;
        top: 2.5rem;
        right: 0;
      }
      & .default-items {
        display: block;
        & li {
          float: right;
        }
      }
    }
  }
}
