body {
  font: 14px "Ubuntu", sans-serif;
}

.hide {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 1rem;
}

code {
  display: block;
  background: #eee;
  padding: 1rem;
  border: 1px solid #C4C4C4;
  border-radius: 2px;
  margin: 0.3rem;
}

@import 'variables.css';
@import 'menu.css';
